.fsStandart #allMenuReplB > span {
    margin: 0 0 0 20px;
}

.sizesmallBlock {
    display: block !important;
}
@media screen and (min-width: 1071px) and (max-width: 1279px) {
    #programm-degree .sizesmallBlock:nth-child(n+4){display:block;}
    #programm-degree .sizesmallBlock{flex-basis:25%;}
    #newsBlock .sizesmallBlock {flex-basis:25%;}
    
}
@media screen and (min-width: 541px) and (max-width: 1070px) {
    #programm-degree .sizesmallBlock:nth-child(n+3){display:block;}
    #programm-degree .sizesmallBlock{flex-basis:50%;}
    #newsBlock .sizesmallBlock{flex-basis:50%;}
    #newsBlock .stackBlock {
        display: flex;
        flex-wrap: wrap;
    }
    #programm-degree .stackBlock{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 540px) {
    #programm-degree .stackBlock{
        display: flex;
      flex-direction: column;
    }

    #newsBlock .stackBlock {
        display: flex;
        flex-wrap: wrap;
    }
}